{{- /* Podcast RSS feed from Buzzsprout */ -}}
<link type="application/rss+xml" rel="alternate" title="StaffEng Podcast Audio Feed" href="https://feeds.buzzsprout.com/1687069.rss">

{{- /* Blog RSS feed for all posts */ -}}
{{ with .OutputFormats.Get "rss" -}}
<link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }} - RSS Feed" href="{{ .Permalink }}">
{{- end }}

{{- /* JSON feed for all posts */ -}}
{{ with .OutputFormats.Get "json" -}}
<link rel="alternate" type="application/json" title="{{ $.Site.Title }} - JSON Feed" href="{{ .Permalink }}">
{{- end }}

{{- /* Cloudflare Web Analytics */ -}}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0e17ec01a9da4dc198313eb3769c8e4c"}'></script><!-- End Cloudflare Web Analytics -->